In [1]:
# Dependencies and Setup
import pandas as pd
import csv
import os


# File to Load (change path, if needed)
season_data = "Resources/Seasons_stats.csv"
players = "Resources/Players.csv"
player_data = "Resources/player_data.csv"

In [2]:
# Read School and Student Data File and store into Pandas Data Frames
season_data_df = pd.read_csv(season_data, low_memory=False)
del season_data_df['Unnamed: 0']
season_data_df.head()

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TS%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,0.368,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,0.435,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,0.394,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
3,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,0.312,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
4,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,0.308,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0

In [3]:
season_data_df = season_data_df.sort_values(['Year'], ascending=False)
season_data_df.head()

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TS%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
24690,2017.0,Ivica Zubac,C,19.0,LAL,38.0,11.0,609.0,17.0,0.547,...,0.653,41.0,118.0,159.0,30.0,14.0,33.0,30.0,66.0,284.0
24299,2017.0,Gerald Green,SF,31.0,BOS,47.0,0.0,538.0,12.0,0.524,...,0.805,17.0,68.0,85.0,33.0,9.0,7.0,25.0,48.0,262.0
24297,2017.0,Danny Green,SG,29.0,SAS,68.0,68.0,1807.0,10.2,0.537,...,0.844,31.0,193.0,224.0,124.0,71.0,58.0,76.0,120.0,497.0
24296,2017.0,Jerian Grant,PG,24.0,CHI,63.0,28.0,1028.0,13.1,0.555,...,0.890,17.0,94.0,111.0,120.0,47.0,8.0,44.0,93.0,370.0
24295,2017.0,Jerami Grant,SF,22.0,OKC,78.0,4.0,1490.0,10.3,0.566,...,0.619,38.0,161.0,199.0,46.0,33.0,75.0,41.0,144.0,421.0

In [4]:
# season_data_df.isna().sum()

In [5]:
season_data_df.fillna(0)

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TS%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
24690,2017.0,Ivica Zubac,C,19.0,LAL,38.0,11.0,609.0,17.0,0.547,...,0.653,41.0,118.0,159.0,30.0,14.0,33.0,30.0,66.0,284.0
24299,2017.0,Gerald Green,SF,31.0,BOS,47.0,0.0,538.0,12.0,0.524,...,0.805,17.0,68.0,85.0,33.0,9.0,7.0,25.0,48.0,262.0
24297,2017.0,Danny Green,SG,29.0,SAS,68.0,68.0,1807.0,10.2,0.537,...,0.844,31.0,193.0,224.0,124.0,71.0,58.0,76.0,120.0,497.0
24296,2017.0,Jerian Grant,PG,24.0,CHI,63.0,28.0,1028.0,13.1,0.555,...,0.890,17.0,94.0,111.0,120.0,47.0,8.0,44.0,93.0,370.0
24295,2017.0,Jerami Grant,SF,22.0,OKC,78.0,4.0,1490.0,10.3,0.566,...,0.619,38.0,161.0,199.0,46.0,33.0,75.0,41.0,144.0,421.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21678,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.000,...,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22252,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.000,...,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22864,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.000,...,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23516,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.000,...,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24095,0.0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.000,...,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
players_df = pd.read_csv(players, low_memory=False)
del players_df['Unnamed: 0']
players_df

,Player,height,weight,collage,born,birth_city,birth_state
0,Curly Armstrong,180.0,77.0,Indiana University,1918.0,NaN,NaN
1,Cliff Barker,188.0,83.0,University of Kentucky,1921.0,Yorktown,Indiana
2,Leo Barnhorst,193.0,86.0,University of Notre Dame,1924.0,NaN,NaN
3,Ed Bartels,196.0,88.0,North Carolina State University,1925.0,NaN,NaN
4,Ralph Beard,178.0,79.0,University of Kentucky,1927.0,Hardinsburg,Kentucky
...,...,...,...,...,...,...,...
3917,Troy Williams,198.0,97.0,South Carolina State University,1969.0,Columbia,South Carolina
3918,Kyle Wiltjer,208.0,108.0,Gonzaga University,1992.0,Portland,Oregon
3919,Stephen Zimmerman,213.0,108.0,"University of Nevada, Las Vegas",1996.0,Hendersonville,Tennessee
3920,Paul Zipser,203.0,97.0,NaN,1994.0,Heidelberg,Germany
3921,Ivica Zubac,216.0,120.0,NaN,1997.0,Mostar,Bosnia and Herzegovina

In [7]:
player_data_df = pd.read_csv(player_data, low_memory=False)
player_data_df

,name,year_start,year_end,position,height,weight,birth_date,college
0,Alaa Abdelnaby,1991,1995,F-C,6-10,240.0,"June 24, 1968",Duke University
1,Zaid Abdul-Aziz,1969,1978,C-F,6-9,235.0,"April 7, 1946",Iowa State University
2,Kareem Abdul-Jabbar,1970,1989,C,7-2,225.0,"April 16, 1947","University of California, Los Angeles"
3,Mahmoud Abdul-Rauf,1991,2001,G,6-1,162.0,"March 9, 1969",Louisiana State University
4,Tariq Abdul-Wahad,1998,2003,F,6-6,223.0,"November 3, 1974",San Jose State University
...,...,...,...,...,...,...,...,...
4545,Ante Zizic,2018,2018,F-C,6-11,250.0,"January 4, 1997",NaN
4546,Jim Zoet,1983,1983,C,7-1,240.0,"December 20, 1953",Kent State University
4547,Bill Zopf,1971,1971,G,6-1,170.0,"June 7, 1948",Duquesne University
4548,Ivica Zubac,2017,2018,C,7-1,265.0,"March 18, 1997",NaN
4549,Matt Zunic,1949,1949,G-F,6-3,195.0,"December 19, 1919",George Washington University

In [75]:
# Empty Data Frame
teams_years = pd.DataFrame()
teams_years ["Year"] = ""
teams_years ["Team Name"] = ""
teams_years ["Team Abbreviation"] = ""
teams_years ["Games Played"] = ""
teams_years ["Points"] = ""
teams_years ["Blocks"] = ""
teams_years ["Field Goal Percent"] = ""
teams_years ["Rank"] = ""
teams_years

Empty DataFrame
Columns: [Year, Team Name, Team Abbreviation, Games Played, Points, Blocks, Field Goal Percent, Rank]
Index: []

In [83]:
from sportsreference.nba.teams import Teams

ycount = 0
for Year in range(1999, 2020): 
    names = []
    abbrs = []
    games = []
    points = []
    blocks = []
    FGPs = []
    ranks = []

    teams = Teams(year=Year)
    for team in teams:
        name = team.name
        abbr = team.abbreviation
        game = team.games_played
        point = team.points
        block = team.blocks
        FGP = team.field_goal_percentage
        rank = team.rank
    
        names.append (name)
        abbrs.append(abbr)
        games.append(game)
        points.append(point)
        blocks.append(block)
        FGPs.append(FGP)
        ranks.append(rank)
    
    for i in range(ycount, (len(names)+ycount)):
        teams_years.loc[i, "Year"] = Year
        teams_years.loc[i, "Team Name"] = names[i-ycount]
        teams_years.loc[i, "Team Abbreviation"] = abbrs[i-ycount]
        teams_years.loc[i, "Games Played"] = games[i-ycount]
        teams_years.loc[i, "Points"] = points[i-ycount]
        teams_years.loc[i, "Blocks"] = blocks[i-ycount]
        teams_years.loc[i, "Field Goal Percent"] = FGPs[i-ycount]
        teams_years.loc[i, "Rank"] = ranks[i-ycount]
    
    ycount =ycount + len(names)

teams_years

,Year,Team Name,Team Abbreviation,Games Played,Points,Blocks,Field Goal Percent,Rank
0,1999,Sacramento Kings,SAC,50,5009,232,0.445,1
1,1999,Los Angeles Lakers,LAL,50,4950,287,0.468,2
2,1999,Phoenix Suns,PHO,50,4779,200,0.449,3
3,1999,Seattle SuperSonics,SEA,50,4743,201,0.442,4
4,1999,Portland Trail Blazers,POR,50,4742,290,0.442,5
...,...,...,...,...,...,...,...,...
619,2019,Miami Heat,MIA,82,8668,448,0.45,26
620,2019,Chicago Bulls,CHI,82,8605,351,0.453,27
621,2019,New York Knicks,NYK,82,8575,422,0.433,28
622,2019,Cleveland Cavaliers,CLE,82,8567,195,0.444,29
623,2019,Memphis Grizzlies,MEM,82,8490,448,0.45,30

In [84]:
teams_years.to_csv("resources/teams_years.csv")

In [11]:
player_data_df = pd.read_csv(player_data, low_memory=False)
player_data_df

,name,year_start,year_end,position,height,weight,birth_date,college
0,Alaa Abdelnaby,1991,1995,F-C,6-10,240.0,"June 24, 1968",Duke University
1,Zaid Abdul-Aziz,1969,1978,C-F,6-9,235.0,"April 7, 1946",Iowa State University
2,Kareem Abdul-Jabbar,1970,1989,C,7-2,225.0,"April 16, 1947","University of California, Los Angeles"
3,Mahmoud Abdul-Rauf,1991,2001,G,6-1,162.0,"March 9, 1969",Louisiana State University
4,Tariq Abdul-Wahad,1998,2003,F,6-6,223.0,"November 3, 1974",San Jose State University
...,...,...,...,...,...,...,...,...
4545,Ante Zizic,2018,2018,F-C,6-11,250.0,"January 4, 1997",NaN
4546,Jim Zoet,1983,1983,C,7-1,240.0,"December 20, 1953",Kent State University
4547,Bill Zopf,1971,1971,G,6-1,170.0,"June 7, 1948",Duquesne University
4548,Ivica Zubac,2017,2018,C,7-1,265.0,"March 18, 1997",NaN
4549,Matt Zunic,1949,1949,G-F,6-3,195.0,"December 19, 1919",George Washington University

In [16]:
# population2 = player_data_df[player_data_df["name"] == 'Alaa Abdelnaby']
# population2

,name,year_start,year_end,position,height,weight,birth_date,college
0,Alaa Abdelnaby,1991,1995,F-C,6-10,240.0,"June 24, 1968",Duke University

In [17]:
# population1 = players_df[players_df["Player"] == 'Alaa Abdelnaby']
# population1

,Unnamed: 0,Player,height,weight,collage,born,birth_city,birth_state
2047,2047,Alaa Abdelnaby,208.0,108.0,Duke University,1968.0,Cairo,Egypt

In [18]:
player_data_df.rename(columns={
    "name":"Player"
})
player_data_df

,name,year_start,year_end,position,height,weight,birth_date,college
0,Alaa Abdelnaby,1991,1995,F-C,6-10,240.0,"June 24, 1968",Duke University
1,Zaid Abdul-Aziz,1969,1978,C-F,6-9,235.0,"April 7, 1946",Iowa State University
2,Kareem Abdul-Jabbar,1970,1989,C,7-2,225.0,"April 16, 1947","University of California, Los Angeles"
3,Mahmoud Abdul-Rauf,1991,2001,G,6-1,162.0,"March 9, 1969",Louisiana State University
4,Tariq Abdul-Wahad,1998,2003,F,6-6,223.0,"November 3, 1974",San Jose State University
...,...,...,...,...,...,...,...,...
4545,Ante Zizic,2018,2018,F-C,6-11,250.0,"January 4, 1997",NaN
4546,Jim Zoet,1983,1983,C,7-1,240.0,"December 20, 1953",Kent State University
4547,Bill Zopf,1971,1971,G,6-1,170.0,"June 7, 1948",Duquesne University
4548,Ivica Zubac,2017,2018,C,7-1,265.0,"March 18, 1997",NaN
4549,Matt Zunic,1949,1949,G-F,6-3,195.0,"December 19, 1919",George Washington University