In [14]:
#dependencies
import pandas as pd
import os
import csv

In [39]:
player_data = 'player_data.csv'
player_data = pd.read_csv(player_data)

player_data = player_data.rename(columns={'name': 'Player'})

players = 'Players.csv'
players = pd.read_csv(players)

In [40]:
players = 'Players.csv'
players = pd.read_csv(players)

In [41]:
complete_player_data = pd.merge(player_data, players,
                                 how='left', on=["Player","Player"])
complete_player_data

,Player,year_start,year_end,position,height_x,weight_x,birth_date,college,Unnamed: 0,height_y,weight_y,collage,born,birth_city,birth_state
0,Alaa Abdelnaby,1991,1995,F-C,6-10,240.0,"June 24, 1968",Duke University,2047.0,208.0,108.0,Duke University,1968.0,Cairo,Egypt
1,Zaid Abdul-Aziz,1969,1978,C-F,6-9,235.0,"April 7, 1946",Iowa State University,746.0,206.0,106.0,Iowa State University,1946.0,Brooklyn,New York
2,Kareem Abdul-Jabbar,1970,1989,C,7-2,225.0,"April 16, 1947","University of California, Los Angeles",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Mahmoud Abdul-Rauf,1991,2001,G,6-1,162.0,"March 9, 1969",Louisiana State University,2048.0,188.0,83.0,"University of California, Los Angeles",1942.0,Wilmington,Delaware
4,Tariq Abdul-Wahad,1998,2003,F,6-6,223.0,"November 3, 1974",San Jose State University,2518.0,198.0,101.0,San Jose State University,1974.0,Maisons Alfort,France
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4545,Ante Zizic,2018,2018,F-C,6-11,250.0,"January 4, 1997",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4546,Jim Zoet,1983,1983,C,7-1,240.0,"December 20, 1953",Kent State University,1592.0,216.0,108.0,Kent State University,1953.0,Uxbridge,Canada
4547,Bill Zopf,1971,1971,G,6-1,170.0,"June 7, 1948",Duquesne University,884.0,185.0,77.0,Duquesne University,1948.0,NaN,NaN
4548,Ivica Zubac,2017,2018,C,7-1,265.0,"March 18, 1997",NaN,3921.0,216.0,120.0,NaN,1997.0,Mostar,Bosnia and Herzegovina
4549,Matt Zunic,1949,1949,G-F,6-3,195.0,"December 19, 1919",George Washington University,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# sorting by first name 
complete_player_data.sort_values("Player", inplace = True) 
  
# dropping ALL duplicte values 
complete_player_data.drop_duplicates(subset ="Player", 
                     keep = False, inplace = True) 
  
# displaying data 
complete_player_data

In [ ]:
clean_player_data = complete_player_data.dropna(axis = 0, how ='any') 
  
# comparing sizes of data frames 
print("Old data frame length:", len(complete_player_data), "\nNew data frame length:",  
       len(clean_player_data), "\nNumber of rows with at least 1 NA value: ", 
       (len(complete_player_data)-len(clean_player_data)))

In [ ]:
clean_player_data

In [ ]:
#list all columns and create new columns I want (height and weight)
list(clean_player_data.columns)

new_columns = [
    'Player',
    'height_x',
    'weight_x',
    'height_y',
    'weight_y',
]

In [ ]:

#new df with just high and weight
height_weight_df = clean_player_data[new_columns]
height_weight_df.head()

In [ ]:
new_columns_1 = [
    'Player',
    'height_y',
    'weight_y',
]

clean_height_weight_df = clean_player_data[new_columns_1]
clean_height_weight_df.head()

In [5]:
stats_data = 'Seasons_Stats.csv'
stats_data = pd.read_csv(stats_data)
stats_data

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,2,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
3,3,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
4,4,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24686,24686,2017.0,Cody Zeller,PF,24.0,CHO,62.0,58.0,1725.0,16.7,...,0.679,135.0,270.0,405.0,99.0,62.0,58.0,65.0,189.0,639.0
24687,24687,2017.0,Tyler Zeller,C,27.0,BOS,51.0,5.0,525.0,13.0,...,0.564,43.0,81.0,124.0,42.0,7.0,21.0,20.0,61.0,178.0
24688,24688,2017.0,Stephen Zimmerman,C,20.0,ORL,19.0,0.0,108.0,7.3,...,0.600,11.0,24.0,35.0,4.0,2.0,5.0,3.0,17.0,23.0
24689,24689,2017.0,Paul Zipser,SF,22.0,CHI,44.0,18.0,843.0,6.9,...,0.775,15.0,110.0,125.0,36.0,15.0,16.0,40.0,78.0,240.0
24690,24690,2017.0,Ivica Zubac,C,19.0,LAL,38.0,11.0,609.0,17.0,...,0.653,41.0,118.0,159.0,30.0,14.0,33.0,30.0,66.0,284.0

In [7]:

stats_data.loc[stats_data["Player"] == "Kobe Bryant"]

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
12900,12900,1997.0,Kobe Bryant,SG,18.0,LAL,71.0,6.0,1103.0,14.4,...,0.819,47.0,85.0,132.0,91.0,49.0,23.0,112.0,102.0,539.0
13479,13479,1998.0,Kobe Bryant,SG,19.0,LAL,79.0,1.0,2056.0,18.5,...,0.794,79.0,163.0,242.0,199.0,74.0,40.0,157.0,180.0,1220.0
14021,14021,1999.0,Kobe Bryant,SG,20.0,LAL,50.0,50.0,1896.0,18.9,...,0.839,53.0,211.0,264.0,190.0,72.0,50.0,157.0,153.0,996.0
14537,14537,2000.0,Kobe Bryant,SG,21.0,LAL,66.0,62.0,2524.0,21.7,...,0.821,108.0,308.0,416.0,323.0,106.0,62.0,182.0,220.0,1485.0
15028,15028,2001.0,Kobe Bryant,SG,22.0,LAL,68.0,68.0,2783.0,24.5,...,0.853,104.0,295.0,399.0,338.0,114.0,43.0,220.0,222.0,1938.0
15578,15578,2002.0,Kobe Bryant,SG,23.0,LAL,80.0,80.0,3063.0,23.2,...,0.829,112.0,329.0,441.0,438.0,118.0,35.0,223.0,228.0,2019.0
16070,16070,2003.0,Kobe Bryant,SG,24.0,LAL,82.0,82.0,3401.0,26.2,...,0.843,106.0,458.0,564.0,481.0,181.0,67.0,288.0,218.0,2461.0
16576,16576,2004.0,Kobe Bryant,SG,25.0,LAL,65.0,64.0,2447.0,23.7,...,0.852,103.0,256.0,359.0,330.0,112.0,28.0,171.0,176.0,1557.0
17159,17159,2005.0,Kobe Bryant,SG,26.0,LAL,66.0,66.0,2689.0,23.3,...,0.816,95.0,297.0,392.0,398.0,86.0,53.0,270.0,174.0,1819.0
17742,17742,2006.0,Kobe Bryant,SG,27.0,LAL,80.0,80.0,3277.0,28.0,...,0.850,71.0,354.0,425.0,360.0,147.0,30.0,250.0,233.0,2832.0
18295,18295,2007.0,Kobe Bryant,SG,28.0,LAL,77.0,77.0,3140.0,26.1,...,0.868,75.0,364.0,439.0,413.0,111.0,36.0,255.0,205.0,2430.0
18825,18825,2008.0,Kobe Bryant,SG,29.0,LAL,82.0,82.0,3192.0,24.2,...,0.840,94.0,423.0,517.0,441.0,151.0,40.0,257.0,227.0,2323.0
19428,19428,2009.0,Kobe Bryant,SG,30.0,LAL,82.0,82.0,2960.0,24.4,...,0.856,90.0,339.0,429.0,399.0,120.0,37.0,210.0,189.0,2201.0
20006,20006,2010.0,Kobe Bryant,SG,31.0,LAL,73.0,73.0,2835.0,21.9,...,0.811,78.0,313.0,391.0,365.0,113.0,20.0,233.0,187.0,1970.0
20600,20600,2011.0,Kobe Bryant,SG,32.0,LAL,82.0,82.0,2779.0,23.9,...,0.828,83.0,336.0,419.0,388.0,99.0,12.0,243.0,172.0,2078.0
21196,21196,2012.0,Kobe Bryant,SG,33.0,LAL,58.0,58.0,2232.0,21.9,...,0.845,66.0,247.0,313.0,264.0,69.0,18.0,204.0,105.0,1616.0
21757,21757,2013.0,Kobe Bryant,SG,34.0,LAL,78.0,78.0,3013.0,23.0,...,0.839,66.0,367.0,433.0,469.0,106.0,25.0,287.0,173.0,2133.0
22348,22348,2014.0,Kobe Bryant,SG,35.0,LAL,6.0,6.0,177.0,10.7,...,0.857,2.0,24.0,26.0,38.0,7.0,1.0,34.0,9.0,83.0
22944,22944,2015.0,Kobe Bryant,SG,36.0,LAL,35.0,35.0,1207.0,17.6,...,0.813,26.0,173.0,199.0,197.0,47.0,7.0,128.0,65.0,782.0
23586,23586,2016.0,Kobe Bryant,SF,37.0,LAL,66.0,66.0,1863.0,14.9,...,0.826,41.0,206.0,247.0,184.0,62.0,13.0,129.0,115.0,1161.0

In [ ]:

list(stats_data.columns)

new_columns = [
    'Player',
    'PTS',
]

# new df with just player and pts
PTS_df = stats_data[new_columns]
PTS_df.head()

In [ ]:
PTS_df.loc[PTS_df["Player"] == "Alaa Abdelnaby"]

In [ ]:
len(PTS_df)

In [ ]:

PTS_height_weight_data = pd.merge(clean_height_weight_df, PTS_df,
                                 how='left', on=["Player","Player"])
PTS_height_weight_data

In [ ]:
len(PTS_height_weight_data)

In [ ]:

player_height = PTS_height_weight_data.groupby("Player").mean()["height_y"]
player_height

player_weight = PTS_height_weight_data.groupby("Player").mean()["weight_y"]
player_weight

In [ ]:
PTS_count = PTS_height_weight_data.groupby("Player").sum()["PTS"]
PTS_count

In [ ]:
PTS_summary = pd.DataFrame({"Total PTS": PTS_count,
                            "Height": player_height,
                          })
PTS_summary

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
plt.scatter(player_height,PTS_count)
plt.title("Height vs. PTS")
plt.xlabel('Height (cm)')
plt.ylabel('PTS Total')
plt.show()

In [ ]:

plt.scatter(player_weight,PTS_count)
plt.title("Weight vs. PTS")
plt.xlabel('Weight (kg)')
plt.ylabel('PTS Total')
plt.show()

In [ ]:
import scipy.stats as st

In [ ]:
#calculating correlation between height and PTS
correlation = round(st.pearsonr(player_height,PTS_count)[0],2)
print(f"The correlation between both factors is {correlation}")

In [ ]:
#calculating correlation between weight and PTS
correlation = round(st.pearsonr(player_weight,PTS_count)[0],2)
print(f"The correlation between both factors is {correlation}")

In [ ]:
from scipy.stats import linregress

In [ ]:

(slope, intercept, rvalue, pvalue, stderr) = linregress(player_height,PTS_count)
regress_values = player_height * slope + intercept

plt.scatter(player_height,PTS_count)
plt.plot(player_height,regress_values, color='r')
plt.title("Height vs. PTS")
plt.xlabel('Height (cm)')
plt.ylabel('PTS Total')
plt.show()

In [ ]:
(slope, intercept, rvalue, pvalue, stderr) = linregress(player_weight,PTS_count)
regress_values = player_weight * slope + intercept

plt.scatter(player_weight,PTS_count)
plt.plot(player_weight,regress_values, color='r')
plt.title("Weight vs. PTS")
plt.xlabel('Height (cm)')
plt.ylabel('PTS Total')
plt.show()

In [ ]:
list(stats_data.columns)

TRB_columns = [
    'Player',
    'TRB',
]

# new df with just player and pts
TRB_df = stats_data[TRB_columns]
TRB_df.head()

In [ ]:

#drop all na

clean_TRB_df = TRB_df.dropna(axis = 0, how ='any') 
  
# comparing sizes of data frames 
print("Old data frame length:", len(TRB_df), "\nNew data frame length:",  
       len(clean_TRB_df), "\nNumber of rows with at least 1 NA value: ", 
       (len(TRB_df)-len(clean_TRB_df)))

In [ ]:
clean_TRB_df.head()

In [ ]:
TRB_height_weight_data = pd.merge(clean_height_weight_df, clean_TRB_df,
                                 how='left', on=["Player","Player"])
TRB_height_weight_data

In [ ]:
len(TRB_height_weight_data)

In [ ]:
TRB_count = TRB_height_weight_data.groupby("Player").sum()["TRB"]
TRB_count

In [ ]:
TRB_summary = pd.DataFrame({"Total TRB": TRB_count,
                            "Height": player_height,
                          })
TRB_summary

In [ ]:

plt.scatter(player_height,TRB_count)
plt.title("Height vs. TRB")
plt.xlabel('Height (cm)')
plt.ylabel('TRB Total')
plt.show()

In [ ]:
correlation = round(st.pearsonr(player_height,TRB_count)[0],2)
print(f"The correlation between both factors is {correlation}")